* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  h1 {
    color: SeaGreen;
  }
  
  
  p, 
  li {
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
  }
  
  .banner{
    background-color: rgb(197, 205, 50);
    color: blueviolet;
    margin-top: 75px;
    text-align: center;
    padding-top: 100px;

  }
  
  #monstera{
    height: 100px;
    width: 100px;
  }